@import '/styles/variables';

.sectionContainer {
  padding: 30px;

  border: 1px solid $borderColor;

  background-color: white;

  .bg {
    background: url('/images/dot.svg');

    background-size: 10px;

    height: 100vh;
    width: 100vw;
  }
}
