@import 'frontend/styles/variables.scss';

.skillTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  height: min-content;

  .tag {
    $height: 12px;

    display: grid;
    align-items: center;
    gap: 5px;
    grid-template: 'a b' $height / auto auto;
    &.onlyIcon {
      grid-template: 'a' $height / auto;
    }

    padding: 5px;

    border-radius: 5px;
    border: 1px solid $borderColor;

    background-color: $lightGrayColor;

    font-size: $height;

    height: min-content;

    .icon {
      width: 100%;
      height: 12px;
      max-width: 20px;

      object-fit: contain;
    }
  }
}
