@import 'frontend/styles/variables.scss';

.about {
  display: grid;
  grid-template-columns: auto 220px;
  gap: 30px;

  @media (max-width: $tabletRes) {
    grid-template-columns: auto;
  }

  .link {
    color: $primaryColor;
    &:hover {
      color: darken($primaryColor, 5);
    }
  }

  .content {
    display: grid;
    gap: 8px;

    height: min-content;
  }

  .resume {
    text-align: center;

    .resumeQRCode {
      width: 100%;

      @media (max-width: $tabletRes) {
        display: none;
      }
    }

    .button {
      width: 200px;
      max-width: 100%;
    }
  }
}
