// color
$primaryColor: #f7b90f;
$primaryColor: #febe00;
$lightGrayColor: lightgray;
$lightGrayColor: #f2f4f8;

$borderColor: #eee;

$textColor: #303030;

// size
$headerHeight: 75px;
$asideWidth: 250px;

$dotSize: 7px;

// resolutions
$fullWideRes: 1500px;
$wideRes: 1200px;
$squareRes: 992px;
$tabletRes: 768px;
$mobileRes: 576px;

$sidePanelLayoutShiftRes: $squareRes;

// animation
$transitionDuration: 0.3s;
