@import '/styles/variables.scss';

.skillTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  height: min-content;

  .tag {
    $height: 12px;

    display: grid;
    align-items: center;
    grid-template:
      'a b' $height
      / auto auto;
    gap: 5px;

    padding: 5px 8px;

    border-radius: 5px;
    border: 1px solid $borderColor;

    background-color: $lightGrayColor;

    font-size: $height;

    height: min-content;

    .iconContainer {
      position: relative;

      height: 100%;

      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}
