@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: $lightGrayColor;

  #__next {
    display: grid;
    grid-template-rows: 80px auto;

    height: 100vh;

    main {
      position: absolute;
      top: $headerHeight;
      left: $asideWidth;

      height: calc(100vh - $headerHeight);
      width: calc(100vw - $asideWidth);

      padding: 30px;
      @media (max-width: $sidePanelLayoutShiftRes) {
        padding: 15px;
      }

      transition: $transitionDuration;

      overflow-y: auto;
      overflow-x: hidden;

      .bodyOverlay {
        display: block;

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 100%;

        background-color: rgba($color: #000000, $alpha: 0.5);

        opacity: 1;
        z-index: 1;

        transition: $transitionDuration;
      }

      &.expended {
        left: 0;
        width: calc(100vw);
      }

      @media (max-width: $sidePanelLayoutShiftRes) {
        left: 0;

        width: calc(100vw);

        .bodyOverlay {
          right: 0;

          opacity: 1;
        }

        &.expended {
          .bodyOverlay {
            right: 100%;

            opacity: 0;
          }
        }
      }
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: $textColor;
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
