// color
$primaryColor: #f7b90f;
$primaryColor: #febe00;
$lightGrayColor: lightgray;
$lightGrayColor: #f2f4f8;

$borderColor: #eee;

$textColor: #303030;

// size
$sidePanelWidth: 250px;

$dotSize: 7px;

// Resolutions
$fullWideRes: 1500px;
$wideRes: 1200px;
$squareRes: 992px;
$tabletRes: 768px;
$mobileRes: 576px;
