@import 'frontend/styles/variables.scss';

.header {
  position: fixed;

  display: grid;
  grid-template-columns: calc($asideWidth - 17px) auto;
  align-items: center;

  width: 100%;
  height: $headerHeight;

  padding: 15px 15px;

  background-color: white;

  box-shadow: 0px 1px 15px 1px rgba($color: black, $alpha: 0.1);

  z-index: 100;

  .logo {
    font-weight: normal;
    font-size: 16px;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      padding-left: 36px;

      border-left: 2px solid $primaryColor;

      @media (max-width: $mobileRes) {
        display: none;
      }

      .text {
        position: relative;

        display: flex;
        align-items: center;

        height: 40px;

        font-weight: 500;
        text-transform: uppercase;

        &::after {
          content: '';

          position: absolute;

          height: 100%;
          width: 200px;

          background: linear-gradient(
            90deg,
            rgba($color: $lightGrayColor, $alpha: 0.1),
            $lightGrayColor
          );
        }
      }
    }

    .menuButton {
      width: max-content;
      height: 40px;

      margin-left: auto;
      padding: 7px 18px;

      color: $textColor;

      z-index: 5;

      .buttonContent {
        display: flex;
        align-items: center;
        gap: 6px;

        svg {
          font-size: 16px;
        }

        .text {
          @media (max-width: $mobileRes) {
            display: none;
          }
        }
      }
    }
  }
}
